.button1 {
  --bg: #16C542;
  --text-color: #fff;
  position: relative;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  padding: 1.2em !important;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  letter-spacing: 1px;
  box-shadow: #000000 0px 7px 2px, #000 0px 8px 5px;
}

/* Media query for smaller screens */

@media screen and (max-width: 480px) {
  .button1 {
  --bg: #16C542;
  --text-color: #fff;
  position: relative;
  border: none;
  background: var(--bg);
  color: var(--text-color);
                     /* ~18px */
   padding: 0.8em !important;   
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  letter-spacing: 1px;
  box-shadow: #000000 0px 7px 2px, #000 0px 8px 5px;
}
}

.button1:hover {
  opacity: 1;
}

.button1:active {
  top: 4px;
  box-shadow: #1a1a1a  0px 3px 2px,#000 0px 3px 5px;
}
